@value makerSecondary from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.footer {
    width: 100%;
    max-width: mediaQuery;
    text-align: center;
}

.title {
    color: makerSecondary;
}