@value makerBackground from './common/colors.css';
@value mediaQuery from './common/size.css';

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: makerBackground;
}
*{
  box-sizing: border-box;
}
@media screen and (max-width: mediaQuery;) {
  .app {
    height: 100%;
  }

}