@value makerWhite,makerBackground from './common/colors.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color : makerWhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 20px;  /* 세로축 스크롤바 길이 */
  height: 10px;  /* 가로축 스크롤바 길이 */
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: makerBackground;

}
::-webkit-scrollbar-button {
  background-color: rgb(0, 0, 0);
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button:start {
  background-color: transparent; /* Top, Left 방향의 이동버튼 */
}
::-webkit-scrollbar-button:end {
  background-color: transparent; /* Bottom, Right 방향의 이동버튼 */
}
::-webkit-scrollbar-button:vertical:increment {
}
::-webkit-scrollbar-button:vertical:decrement {
}
::-webkit-scrollbar-corner {
  background-color: transparent; /* 우측 하단의 코너 부분 */
}
::-webkit-resizer {
  background-color: rgb(0, 0, 0);
}
