@value makerAccent from '../../common/colors.css';

.title {
    font-weight: bold;
    text-align: center;
    background-color: makerAccent;
    padding: 0.5rem;
    margin-bottom: 0;
}

.howToPlay {
    padding: 0.5rem;
}

.aboutMenuImg {
    
}