@value makerPrimary, makerSecondary from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.all {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.contents {
    overflow:scroll;
    background-color: makerPrimary;
    border-radius: 2em;
    box-shadow: 0 0 15px 3px makerSecondary;
    height: 25rem;
    padding: 1rem;
    color: makerSecondary;
}

@media screen and (max-width: mediaQuery) {
    .contents{
        overflow:initial;
    }

  
  }
